<div class="div-map" style="overflow:hidden;width: 700px;position: relative;">
    <iframe class="map-iframe" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q={{concerts.addresse}}%20{{concerts.ville}}%2C%20France+(Titre)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;
     margin-left: auto;margin-right: auto;color: #000;text-align: center;">
        <small style="line-height: 1.8;font-size: 2px;background: #fff;">
            Powered by <a href="https://embedgooglemaps.com/en/">embedgooglemaps FR</a>
            & <a href="https://lasagradafamiliatickets.de/la-sagrada-familia-ticket/">
                buch voraus</a></small></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important
        }
    </style>
</div>
