@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Courgette|Kaushan+Script|Permanent+Marker|Tangerine&display=swap');

$font-family-permanent: 'Permanent Marker', cursive;
$font-family-courgette: 'Courgette', cursive;
$font-family-kaushan: 'Kaushan Script', cursive;
$font-family-bangers: 'Bangers', cursive;
$font-family-tangerine: 'Tangerine', cursive;
$font-family-anton: 'Anton', sans-serif;
$font-family-josefin:'Josefin Sans', sans-serif;
$font-color: rgb(255, 255, 255);
$background-color: rgba(12, 12, 12, 0.5);
$border-color: rgb(61, 61, 61);