@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Faster+One|Josefin+Sans|Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi|Noto+Sans+JP|Poppins|Squada+One|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Great+Vibes|Kalam|Kaushan+Script|Monoton&display=swap');

$squada:'Squada One', cursive;
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$altasi: 'Alatsi', sans-serif;
$bebas: 'Bebas Neue', cursive;
$faster: 'Faster One', cursive;
$josefin: 'Josefin Sans', sans-serif;
$nototc: 'Noto Sans TC', sans-serif;
$notojp: 'Noto Sans JP', sans-serif;
$vibes: 'Great Vibes', cursive;
$kalam: 'Kalam', cursive;
$kaushan: 'Kaushan Script', cursive;
$monoton: 'Monoton', cursive;
$blackops: 'Black Ops One', cursive;



$main-color1:rgb(47, 51, 50);
$main-color2:rgb(80, 0, 0);
$main-color3:rgb(255, 255, 255);
$main-color4:rgb(24, 24, 24);

