@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Courgette|Kaushan+Script|Permanent+Marker|Tangerine&display=swap');

$font-family-permanent: 'Permanent Marker', cursive;
$font-family-courgette: 'Courgette', cursive;
$font-family-kaushan: 'Kaushan Script', cursive;
$font-family-bangers: 'Bangers', cursive;
$font-family-tangerine: 'Tangerine', cursive;
$font-family-anton: 'Anton', sans-serif;
$color: rgb(255, 179, 79);
$backgroundcolor: rgba(31, 110, 201,0.5);
