@import "./gloablvar";



.card{
    background-color:$main-color4;

}

.card-body{

}

.card-title{
    color:$main-color3;
    font-family: $josefin;
    font-size: 24px;
}

.card-text{
    color:$main-color3;
    font-family: $josefin;
    font-size: 18px;
}