<link rel="stylesheet" href="/assets/css/footer.css">

  <!--Footer-->
  <footer class="page-footer text-center text-md-left pt-4">

    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">

        <!--First column-->
        <div class="col-md-3">
          <h5 class="text-uppercase font-weight-bold mb-4">Divers</h5>
          <img src="https://data.photofunky.net/output/image/d/d/c/f/ddcfc4/photofunky.gif" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <!--/.First column-->

        <hr class="w-100 clearfix d-md-none">

        <!--Second column-->
        <div class="col-md-2 mx-auto">
          <h5 class="text-uppercase font-weight-bold mb-4">Site map</h5>
          <ul class="list-unstyled">
            <li><a href="/">Accueil</a></li>
            <li><a href="/Concerts/index">Concerts</a></li>
            <li><a href="/Disco/index">Disco</a></li>
            <li><a href="/Biographie/index">Biographie</a></li>
          </ul>
        </div>
        <!--/.Second column-->

        <hr class="w-100 clearfix d-md-none">

        <!--Third column-->
        <div class="col-md-2 mx-auto">
          <h5 class="text-uppercase font-weight-bold mb-4">Informations</h5>
          <ul class="list-unstyled">
            <li><a href="#!">Charte RGPD</a></li>
            <li><a href="#!">CGVU</a></li>
            <li><a href="#!">Presse</a></li>
            <li><a href="#!">Contact</a></li>
          </ul>
        </div>
        <!--/.Third column-->

        <hr class="w-100 clearfix d-md-none">

        <!--Fourth column-->
        <div class="col-md-2 mx-auto">
          <h5 class="text-uppercase font-weight-bold mb-4">Nos amis</h5>
          <ul class="list-unstyled">
            <li><a href="#!">Tata Yoyo</a></li>
            <li><a href="#!">Irene</a></li>
            <li><a href="#!">Yvette</a></li>
            <li><a href="#!">Yoala</a></li>
          </ul>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a class="btn-floating btn-fb"><i class="fab fa-facebook-f"> </i></a></li>
        <li class="list-inline-item"><a class="btn-floating btn-tw"><i class="fab fa-twitter"> </i></a></li>
        <li class="list-inline-item"><a class="btn-floating btn-gplus"><i class="fab fa-google-plus-g"> </i></a></li>
        <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fab fa-linkedin-in"> </i></a></li>
        <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fab fa-github"> </i></a></li>
      </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        © 2019 Copyright: <a href="https://www.youtube.com/watch?v=5Jl-oGOx6No"> Les trois mousquetaires chiens </a>

      </div>
  </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

