<?php

/**
 * This file define BD access infos.
 *
 * PHP version 7
 *
 * @category  PHP
 * @package   PHP_SimpleMVC
 * @author    WCS <contact@wildcodeschool.fr>
 * @license  --
 * @link     https://github.com/WildCodeSchool/simple-mvc
 *
 */

define('APP_DB_USER', '7ZuMlD8vpq');
define('APP_DB_PWD', 'ZORYUe1zYu');
define('APP_DB_HOST', 'remotemysql.com');
define('APP_DB_NAME', '7ZuMlD8vpq');
