{% extends 'layout.html.twig' %}


{% block title %}
	<title>Biographie</title>
{% endblock %}
{% block content %}

	<div class="titles-bio top80">
		<p class="alert-title bottom40">BIOGRAPHIE
		</p>
	</div>

	<div class="col-auto bottom40">
		<img class="bio-photo" src="/assets/photos/site/emremessini1.jpg">
	</div>
	<div class="col-auto">
		<p class="grid-text text-justify">
			Em Remes sini Band, a été le premier groupe de rock, en Alsace, à chanter en alsacien.
							                Le groupe est devenu emblématique de notre région. Il a su donner à la chanson alsacienne une dynamique moderne, une ouverture vers un public de toute génération.
							                Découvert par Roger Siffer, " Em Remes sini Band ", a fait une carrière sans pareille en Alsace.</p>
		<p class="grid-text text-justify">
			Leur premier album en 1979 s’est vendu à des dizaines de milliers d’exemplaires. Ce ne fut pas un coup d’essai car aujourd'hui après plus de 30 ans de carrière, 8 albums et des centaines de concerts sont à leur actif. Le groupe est régulièrement présent sur scène aux quatre coins de la vallée du Rhin.
							                Chouchouté par la presse, les télévisions et les radios françaises et étrangères, Em Remes sini Band a fait basculer la chanson alsacienne dans le monde de la musique électrique. Em Remes sini Band, c’est tout simplement du bon vieux Rock’ n roll chanté en alsacien, une recette unique, forte en présence et en décibel.
							                Pour les “Remes”, comme on les surnomme en Alsace, un concert est toujours un moment attendu avec impatience et la certitude d’avoir un public exceptionnel.</p>
		<p class="grid-text text-justify">
			La “bande” est composée de Vincent Desmartin à la batterie, de son frère François Desmartin à la guitare lead, de Antoine Deprez à la guitare basse, de Serge Kraut à la guitare rytmique, de Clara Logel ( la princesse du rock alsacien ) aux claviers, de Raymond Koefer et Raymond Schlegel au chant.
		</p>
	</div>

{% endblock %}
